<a href="https://colab.research.google.com/github/jash6/LatLon-Finder/blob/branch2/Latitude_Longitude_Finder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install opencage

Requirement already satisfied: opencage in /usr/local/lib/python3.7/dist-packages (2.0.0)
Requirement already satisfied: Requests>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from opencage) (2.23.0)
Requirement already satisfied: pyopenssl>=0.15.1 in /usr/local/lib/python3.7/dist-packages (from opencage) (22.0.0)
Requirement already satisfied: backoff>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from opencage) (1.11.1)
Requirement already satisfied: cryptography>=35.0 in /usr/local/lib/python3.7/dist-packages (from pyopenssl>=0.15.1->opencage) (36.0.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=35.0->pyopenssl>=0.15.1->opencage) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=35.0->pyopenssl>=0.15.1->opencage) (2.21)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from Requests>=2.2.0->opencage) (2.10)

In [ ]:
from opencage.geocoder import OpenCageGeocode
key = 'Your Key'
geocoder = OpenCageGeocode(key)
query = 'Bijuesca, Spain'  
results = geocoder.geocode(query)
lat = results[0]['geometry']['lat']
lng = results[0]['geometry']['lng']
print (lat, lng)

41.5405092 -1.9203562

In [ ]:
df= pd.read_csv('Final.csv')
df

                State  DistrictName  Total
0      ANDHRA PRADESH           NaN     17
1   ARUNACHAL PRADESH           NaN      1
2               ASSAM           NaN     24
3               BIHAR           NaN     19
4          CHANDIGARH           NaN      8
5        CHHATTISGARH           NaN     18
6               DELHI           NaN     27
7                 GOA           NaN      3
8             GUJARAT           NaN     38
9             HARYANA           NaN     20
10   HIMACHAL PRADESH           NaN      6
11  JAMMU AND KASHMIR           NaN     10
12          JHARKHAND           NaN     17
13          KARNATAKA           NaN     28
14             KERALA           NaN     24
15     MADHYA PRADESH           NaN     36
16        MAHARASHTRA           NaN     86
17            MANIPUR           NaN      2
18          MEGHALAYA           NaN      3
19           NAGALAND           NaN      3
20             ODISHA           NaN     22
21        PONDICHERRY           NaN      4
22             PUNJAB           NaN     38
23          RAJASTHAN           NaN     33
24          TAMILNADU           NaN     43
25          TELANGANA           NaN     14
26            TRIPURA           NaN      3
27      UTTAR PRADESH           NaN     52
28        UTTARAKHAND           NaN     12
29        WEST BENGAL           NaN     39
30        Grand Total           NaN    650

In [ ]:
df_temp = df.loc[0:29,['State','Total']]
df_temp

                State  Total
0      ANDHRA PRADESH     17
1   ARUNACHAL PRADESH      1
2               ASSAM     24
3               BIHAR     19
4          CHANDIGARH      8
5        CHHATTISGARH     18
6               DELHI     27
7                 GOA      3
8             GUJARAT     38
9             HARYANA     20
10   HIMACHAL PRADESH      6
11  JAMMU AND KASHMIR     10
12          JHARKHAND     17
13          KARNATAKA     28
14             KERALA     24
15     MADHYA PRADESH     36
16        MAHARASHTRA     86
17            MANIPUR      2
18          MEGHALAYA      3
19           NAGALAND      3
20             ODISHA     22
21        PONDICHERRY      4
22             PUNJAB     38
23          RAJASTHAN     33
24          TAMILNADU     43
25          TELANGANA     14
26            TRIPURA      3
27      UTTAR PRADESH     52
28        UTTARAKHAND     12
29        WEST BENGAL     39

In [ ]:
list_lat = [] 
list_long = []
for index, row in df_temp.iterrows(): 
    State = row['State']       
    query = str(State)

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    list_lat.append(lat)
    list_long.append(long)

	
# create new columns from lists    

df_temp['lat'] = list_lat   

df_temp['lon'] = list_long

In [ ]:
df_temp

                State  Total        lat        lon
0      ANDHRA PRADESH     17  15.924091  80.186381
1   ARUNACHAL PRADESH      1  28.093770  94.592133
2               ASSAM     24  26.407384  93.255130
3               BIHAR     19  25.644085  85.906508
4          CHANDIGARH      8  30.733442  76.779714
5        CHHATTISGARH     18  21.663736  81.840635
6               DELHI     27  28.651718  77.221939
7                 GOA      3  15.300454  74.085513
8             GUJARAT     38  22.385005  71.745261
9             HARYANA     20  29.000000  76.000000
10   HIMACHAL PRADESH      6  31.816760  77.349321
11  JAMMU AND KASHMIR     10  33.664930  75.162958
12          JHARKHAND     17  23.455981  85.255730
13          KARNATAKA     28  14.520390  75.722352
14             KERALA     24  10.352874  76.512040
15     MADHYA PRADESH     36  23.814342  77.534072
16        MAHARASHTRA     86  18.906836  75.674158
17            MANIPUR      2  24.720882  93.922939
18          MEGHALAYA      3  25.537943  91.299910
19           NAGALAND      3  26.163056  94.588491
20             ODISHA     22  20.543124  84.689732
21        PONDICHERRY      4  11.934057  79.830645
22             PUNJAB     38  30.929321  75.500484
23          RAJASTHAN     33  26.810578  73.768455
24          TAMILNADU     43  10.909433  78.366535
25          TELANGANA     14  17.849592  79.115166
26            TRIPURA      3  23.775082  91.702509
27      UTTAR PRADESH     52  27.130334  80.859666
28        UTTARAKHAND     12  30.041738  79.089691
29        WEST BENGAL     39  22.996495  87.685588

In [ ]:
df_final= df_temp.set_index('State')
df_final

                   Total        lat        lon
State
ANDHRA PRADESH        17  15.924091  80.186381
ARUNACHAL PRADESH      1  28.093770  94.592133
ASSAM                 24  26.407384  93.255130
BIHAR                 19  25.644085  85.906508
CHANDIGARH             8  30.733442  76.779714
CHHATTISGARH          18  21.663736  81.840635
DELHI                 27  28.651718  77.221939
GOA                    3  15.300454  74.085513
GUJARAT               38  22.385005  71.745261
HARYANA               20  29.000000  76.000000
HIMACHAL PRADESH       6  31.816760  77.349321
JAMMU AND KASHMIR     10  33.664930  75.162958
JHARKHAND             17  23.455981  85.255730
KARNATAKA             28  14.520390  75.722352
KERALA                24  10.352874  76.512040
MADHYA PRADESH        36  23.814342  77.534072
MAHARASHTRA           86  18.906836  75.674158
MANIPUR                2  24.720882  93.922939
MEGHALAYA              3  25.537943  91.299910
NAGALAND               3  26.163056  94.588491
ODISHA                22  20.543124  84.689732
PONDICHERRY            4  11.934057  79.830645
PUNJAB                38  30.929321  75.500484
RAJASTHAN             33  26.810578  73.768455
TAMILNADU             43  10.909433  78.366535
TELANGANA             14  17.849592  79.115166
TRIPURA                3  23.775082  91.702509
UTTAR PRADESH         52  27.130334  80.859666
UTTARAKHAND           12  30.041738  79.089691
WEST BENGAL           39  22.996495  87.685588

In [ ]:
from google.colab import files

df_final.to_csv('Data_Final.csv')
files.download('Data_Final.csv')